<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
    *{
        margin: 0;
        padding: 0;
    }
    ul{
        margin:20px auto 50px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    li{
        list-style: none;
        width: 300px;
        padding: 4px;
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    a{
     text-decoration: none
    }
    h1{text-align: center}
    h2{text-align: center}
    </style>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>最新章节 <a href={{"/page/"+href}}>{{latest}}</a></h2>
    <ul>
        {{each arr }}
        <li>
            <a title={{$value.title}} href={{'/page/'+$value.url}}>{{$value.title}}</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>